<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h2>Message</h2>
  <p>Usuario: <%= message.user %></p>
  <p>Mensaje: <%= message.text %></p>
  <p>Fecha: <%= message.added.toLocaleString() %></p>
</body>
</html>
